#submit-form .tag-button {
  // margin:0.25em;
  background: white;
  color: black;
  border-radius: 1rem;
  padding: 0.25em;
}

#submit-form li {
  font-size: 0.6rem;
}

#submit-form .add-tag-button {
  font-size: 0.5rem;
  padding: 0.5em 1em;
}
